{% extends 'layout.html' %}

{% block content %}
        <!-- <section class="header">
            <h1>Asher Orr</h1>
            <p>Seeking work in Python Development</p>
            <img src="https://cdn.pixabay.com/photo/2014/11/23/21/22/snake-543243__340.jpg" alt="Headshot of myself"> -->
        <!-- </section> -->
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>More About Me</h2>
            <p>
                I graduated from Treehouse's Python TechDegree program in 2022, where I earned exceeds expectations
                on all projects.
            </p>
            <p>
                I was previously an English teacher in Atlanta.
                I served as my school's lead innovator representative and the Georgia TAPP (Teacher Academy for Preparation and Pedagogy)
                representative for the state's largest school district.
            </p>
            <p>
                I am interested in programming, finance, language learning, yoga, Brazilian Jiu Jitsu, and holistic health.
            </p>
            <a href="https://docs.google.com/document/d/14FoB_rlec1p675bhME6zi0xhKMA8_VyIj-mi2NEBQZ4/edit?usp=sharing" target="_blank" rel="noopener noreferrer"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}